<html>
<head>
</head>
<body>

<div class='main-text'> There are <span id='num-stores'></span> Best Buys with Switches in stock! </div>
<br>
<br>
<br>
<br>
<div id='full-list'></div>


<script type="text/javascript">
    
    function update_view(store_data){
        console.log('in update view');
        document.getElementById("num-stores").textContent=store_data.length;
        document.getElementById("full-list").textContent=JSON.stringify(store_data);

    }

    console.log('about to fetch');
    
    fetch('http://localhost:5000/stores')
        .then(function(response){
            console.log('getting the response');
            return response.json();
        }).then(function(store_data){
            console.log('convered to json and updating view');
            update_view(store_data)
        });




</script>

</body>
</html>




