<html>
<head>
</head>
<body>

<div class='main-text'> There are <span id='num-stores'></span> Best Buys with Switches in stock as of <span id='update-date'></span> </div>
<div>Go get yours.</div>
<br>
<br>
<br>
<br>

<div id='container'></div>
<div id='full-list'></div>

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script type="text/javascript" src="{{ url_for('bestbuy_blueprint.static', filename='js/react_test.js') }}"></script>

</body>
</html>




